@page "/accountdashboard"
@using MBCM_PWA.Client.Shared.Models
@inject userService UserService
@inject HttpClient httpClient

@if (UserService.UserType != "Guest")
{
    <div class="main-area">
      
        
        <div class="info-tile">
            <br />
            <h2>Your Details</h2>
            <br />
            <div class="details-con">
                <h6 class="left-t" style="font-weight:600">First Name</h6>
                <h6 class="right-t">@FullUserInfo?.firstName</h6>
            </div>
            <hr />
            <div class="details-con">
                <h6 class="left-t" style="font-weight:600">Surname</h6>
                <h6 class="right-t">@FullUserInfo?.lastName</h6>
            </div>
            <hr />
            <div class="details-con">
                <h6 class="left-t" style="font-weight:600">Email</h6>
                <h6 class="right-t">@FullUserInfo?.userEmail</h6>
            </div>
            <hr />
            <div class="details-con">
                <h6 class="left-t" style="font-weight:600">Cellphone Number</h6>
                <h6 class="right-t">@FullUserInfo?.userPhoneNumber</h6>
            </div>
        </div>
        @if (UserService.UserType == "Volunteer"){
        <div class="proj-section">
            <br />
            <h2>Your Projects</h2>
            <br />
            @if (UserProjects != null && UserProjects.Any())
            {
                foreach (var userProject in UserProjects)
                {
                    var project = userProject.Project;

                    <div class="project-card">
                        <h4>@project.prjTitle</h4>
                        <p>@project.prjDescription</p>
                        <!-- Add more details as needed -->
                    </div>
                }
            }
            else
            {
                <p>You are not currently a part of any projects.</p>
            }
        </div>
        }
    </div>
}
else
{
    <div>You do not have access to this page.</div>
}

@code {
    private User FullUserInfo;
    private List<UserProjects> UserProjects;

    protected override async Task OnInitializedAsync()
    {
        // Fetch additional details for the user using the UserId from userService
        if (UserService.UserId != 0)
        {
            var userId = UserService.UserId;

            // Fetch user details
            FullUserInfo = await httpClient.GetFromJsonAsync<User>($"api/Projects/getUserDetails/{userId}");

            // Fetch projects for the user
            UserProjects = await httpClient.GetFromJsonAsync<List<UserProjects>>($"api/Projects/getUserProjects/{userId}");
        }
    }
}


