@page "/accountdashboard"
<br/>
<br/>
<h1>Your Account</h1>
<br />

<hr />
<br />
<br />
<div class="main-area">
<div class="info-tile">
    <div class="pfp">
        <img class="profile-con" src="/css/MBCM_LOGO.png"/>
    </div>
    <br />
    <div class="details-con">
        <h6 class="left-t">First Name</h6>
        <h6 class="right-t">Mikail</h6>

        </div><hr />
    <div class="details-con">
        <h6 class="left-t">Surname</h6>
        <h6 class="right-t">Van Huyssteen</h6>

        </div><hr />
    <div class="details-con">
        <h6 class="left-t">Email</h6>
        <h6 class="right-t">mikailvanhuyssteen@gmail.com</h6>

        </div><hr />
    <div class="details-con">
        <h6 class="left-t">Cellphone Number</h6>
        <h6 class="right-t">0677040910</h6>
    </div>
</div>
<div class="proj-section">
</div>
</div>



@code {

}

<style>

    .main-area {
        position: relative;
        display: block;
    }
    
    .info-tile {
        position:absolute;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 30%;
        height: 500px;
        margin-left: 40px;
        margin-right: 100px;
        align-self: center;
        float: left;
    }    

    .proj-section {
        position:absolute;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 40%;
        height: 300px;
        margin-right: 10%;
        right: 0;
    }
    .pfp {
        position:relative;
        width:100%;
        height:auto;
        padding:inherit;
        
    }
    .profile-con {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        margin: auto;
        position: relative;
        margin-left:25%;
    }


    .details-con {
        margin-top: 10px;
        position: relative;
        width: fit-content;
        display: flex;
        align-content: flex-start;

    }

    .left-t {
        text-align: left;
        width:100px;
    }

    .right-t {
        margin-left: 50px;
    }


</style>
