

@media only screen and (min-width: 768px) {
    .main-container {
        position: relative;
        height: 80vh;
        overflow: auto;
    }

    .add-project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
		margin-top: 200px;
    }

    .add-project-form {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        background-color: #333F50;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        width: 650px;
        max-width: 90%;
    }

        .add-project-form label {
            font-weight: bold;
            font-size: 14px;
            color: white;
        }

        /* Change the button color to darkish green */
        .add-project-form button {
            background-color: #006400; /* Dark green color for the button */
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }

            .add-project-form button:hover {
                background-color: #004d00; /* Darker green color on hover */
            }
			
    .splash-background {
        background-image: url(../css/LINKING_ARMS_BLURRED.png);
        align-self: center;
        background-size: cover;
        background-attachment:  fixed;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 15%;
    }

    .logo {
        width: 300px;
        height: auto;
    }


    .welcome-text {
        font-size: 40px;
        margin: 5%;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 300px;
        margin: auto;
        margin-top: 100px;
        align-self: center;
    }
    
}


@media only screen and (max-width: 768px) {
    .main-container {
        position: relative;
        height: 80vh;
        overflow: auto;
    }

    .add-project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        margin-top: 200px;
    }

    .add-project-form {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        background-color: #333F50;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        width: 650px;
        max-width: 90%;
    }

        .add-project-form label {
            font-weight: bold;
            font-size: 14px;
            color: white;
        }

        /* Change the button color to darkish green */
        .add-project-form button {
            background-color: #006400; /* Dark green color for the button */
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }

            .add-project-form button:hover {
                background-color: #004d00; /* Darker green color on hover */
            }

    .splash-background {
        background-image: url(../css/LINKING_ARMS_BLURRED.png);
        align-self: center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: absolute;
        height: 70%;
        width: 100%;
    }

    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 15%;
    }

    .logo {
        width: 180px;
        height: auto;
    }

    .welcome-text {
        font-size: 20px;
        margin: 5%;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 300px;
        margin: auto;
        align-self: center;
    }
}
