@layout GuestLayout
@page "/guest"
@using MBCM_PWA.Client.Shared.Models
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Net.Http.Json
@inject NavigationManager navigationManager
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>
<div class="main-container">
    <div class="splash-background">
        <div class="main-logo">
            <img id="logo" src="/css/MBCM_LOGO.png" alt="Logo" style="width:300px; height:auto" />
            <h2>Welcome to the MBCM volunteer portal.</h2>
        </div>
    </div>
</div>

<div class="info-tile" style="margin-top: 20px; position: relative; background-image: url('/css/volunteer.jpg'); background-size: cover;">
    <div class="text-center" style="margin-bottom:0px; margin-top:30px">
        <h1 style="font-weight:bold; color:white;">Join Our Community!</h1>
        <p style="color:white;">Ready to make a difference? Register as a volunteer today!</p>
        <button class="btn btn-primary" style="padding:10px; margin-top:20px" @onclick="GoToRegisterPage">Register as Volunteer</button>
    </div>
</div>

<br>
<br>
<br>



@code {
    List<Project> projects = new List<Project>();

    // This method will be executed when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        projects = await HttpClient.GetFromJsonAsync<List<Project>>("api/projects");
        var responseContent = await HttpClient.GetStringAsync("api/Projects");
        Console.WriteLine(responseContent);
    }

    private void GoToRegisterPage()
    {
        navigationManager.NavigateTo("/registerpage");
    }
}

<style>
   

</style>