@page "/volunteer"
@using MBCM_PWA.Client.Shared.Models
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Net.Http.Json
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>
<div class="main-container">
    <div class="splash-background">
        <div class="main-logo">
            <img class="logo" src="/css/MBCM_LOGO.png" alt="Logo" />
            <p class="welcome-text">Welcome to the MBCM volunteer portal.</p>
        </div>
    </div>
</div>

<div class="info-tile" style="font-size: 12px">
    <div class="info-text">
        <div>MBCM was established toward the end of June 2021 by a group of men and women from various and diverse communities in Nelson Mandela Bay, who recognized the need for dedicated citizens to step in and start functioning in the sphere of local governance to effect the change needed to turn the Metro around. This sphere of governance has historically been reserved for members of political parties only.</div>
        <br />
        <div>Just imagine what would happen in our city if the best of the best in every sphere of society would come on board to strategize, plan, and help guide the Independent Candidates who are prepared to represent their community and not a party.</div>
    </div>
</div>
<br />
<div class="info-tile" style="font-size: 12px">
    <div class="info-text">
        <div>MBCM invites Business men and women, Ratepayers, Community Forums, NPO's, NGO's, Professional people, Academia, spiritual leaders, community leaders to BECOME A PART OF THE STRATEGIC PLANNING AND GUIDANCE REQUIRED BY THE INDEPENDENT CANDIDATES representing the Wards where they are elected.</div>
        <br />
        <div>MBCM exists to bring on board committed private citizens because they believe that leaders in all spheres of society, hold the skills, wisdom and solutions to solve most of the challenges, the Metro is facing.</div>
        <br />
        <div>MBCM believes that Stakeholders in the city should lead the decision-making process in the Metro and not merely be recipients of decisions taken by politicians.</div>
    </div>
</div>

@code {
    
}

