

@media only screen and (min-width: 768px) {
    .info-text {
        overflow: auto;
        max-height: 100%;
    }

    .main-container {
        position: relative;
        height: 40vh;
        overflow: auto;
    }

    .splash-background {
        background-image: url(../css/LINKING_ARMS_BLURRED.png);
        align-self: center;
        background-size: cover;
        background-attachment:  fixed;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 15%;
    }

    .logo {
        width: 300px;
        height: auto;
    }


    .welcome-text {
        font-size: 40px;
        margin: 5%;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 400px;
        margin: auto;
        margin-top: 50px;
        align-self: center;
    }
    
}


@media only screen and (max-width: 768px) {
    .info-text {
        overflow: auto;
        max-height: 100%;
    }

    .main-container {
        position: relative;
        height: 40vh;
        overflow: auto;
    }

    .splash-background {
        background-image: url(../css/LINKING_ARMS_BLURRED.png);
        align-self: center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: absolute;
        height: 70%;
        width: 100%;
    }

    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 15%;
    }

    .logo {
        width: 180px;
        height: auto;
    }

    .welcome-text {
        font-size: 20px;
        margin: 5%;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 300px;
        margin: auto;
        align-self: center;
    }
}
