@page "/"

<PageTitle>Home</PageTitle>
<div class="main-container">
    <div class="splash-background">
        <div class="main-logo">
            <img id="logo" src="/css/MBCM_LOGO.png" alt="Logo" style="width:300px; height:auto"  />
            <h2>Welcome to the MBCM volunteer portal.</h2>
        </div>
    </div>    
</div>

<div class="info-tile">
</div>

<div class="info-tile">
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<style>
    .main-container {
        position: relative;
        height: 80vh;
        overflow: auto;
    }
    .splash-background {
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 100px;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 300px;
        margin: auto;
        margin-top: 100px;
        align-self: center;
    }

</style>