@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the MBCM project portal</h1>

This application serves the purpose of keeping you, the volunteer, connected to our plans in the community

<SurveyPrompt Title="How is Blazor working for you?" />
