@page "/volunteer"
@using MBCM_PWA.Client.Shared.Models
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Net.Http.Json
@inject HttpClient HttpClient
@inject NavigationManager navigationManager


<PageTitle>Home</PageTitle>

<div class="main-container" style="height: 800px">
    <div class="splash-background">
        <div class="main-logo">
            <img class="logo" src="/css/MBCM_LOGO.png" alt="Logo" />
            <p class="welcome-text">Welcome to the MBCM volunteer portal.</p>
        </div>
    </div>
</div>
<div class="info-text-tile" style="margin-top: 20px; position: relative; background-image: url('/css/volunteer.jpg'); background-size: cover;">
    <div class="text-center" style="margin-bottom:0px; margin-top:30px">
        <h1 style="font-weight:bold; color:white;">Join Our Community!</h1>
        <p style="color:white;">Ready to make a difference? Register as a volunteer today!</p>
        <button class="btn btn-primary" style="padding:10px; margin-top:20px; background-color: orange; border: 1px solid white; color: black" @onclick="GoToRegisterPage">Register as Volunteer</button>
    </div>
</div>
<div class="about-section" style="text-align: center; margin-top: 70px;">
    <h1>About MBCM</h1>
    <div class="info-text-tile" style="font-size: 15px; margin-top: 20px; text-align: left; display: flex; align-items: center;">
        <div class="info-text">
            <h3>Our Establishment</h3>
            <p>MBCM was established toward the end of June 2021 by a group of men and women from various and diverse communities in Nelson Mandela Bay, who recognized the need for dedicated citizens to step in and start functioning in the sphere of local governance to effect the change needed to turn the Metro around. This sphere of governance has historically been reserved for members of political parties only.</p>
            <h3 style="margin-top: 30px;">Community Transformation</h3>
            <p>Imagine the impact if the best of every sphere of society came together to strategize, plan, and guide Independent Candidates prepared to represent their community and not a party.</p>
        </div>
    </div>
    <h1 style="margin-top: 50px; text-align: center;">Join Us</h1>
    <div class="info-text-tile" style="font-size: 15px; margin-top: 30px; display: flex; align-items: center;">
        <div class="info-text" style="text-align: left;">
            <h3 style="margin-top: 30px;">Become a Part of MBCM</h3>
            <p>MBCM invites individuals and groups from various sectors such as business, academia, community forums, spiritual leaders, etc., to participate in the strategic planning and guidance for Independent Candidates representing their respective wards.</p>
            <h3 style="margin-top: 30px;">Our Belief</h3>
            <p>MBCM believes that involving committed private citizens from diverse backgrounds can provide solutions to many challenges facing the Metro.</p>
            <h3 style="margin-top: 30px;">Empowering Stakeholders</h3>
            <p>MBCM advocates for stakeholders in the city to lead the decision-making process rather than being mere recipients of decisions made by politicians.</p>
        </div>
    </div>
</div>

@code {
    private void GoToRegisterPage()
    {
        navigationManager.NavigateTo("/registerpage");
    }
}

