@page "/"

<PageTitle>Home</PageTitle>
<div class="main-container">
    <div class="splash-background">
        <div class="main-logo">
            <img id="logo" src="/css/MBCM_LOGO.png" alt="Logo" style="width:300px; height:auto"  />
            <h2>Welcome to the MBCM volunteer portal.</h2>
        </div>
    </div>
</div>


<style>
    .main-container {
        position: relative;
        height: 80vh;
        overflow: auto;
    }
    .splash-background {
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 100px;
    }

</style>