@page "/volunteer"
@using MBCM_PWA.Client.Shared.Models
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Net.Http.Json
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>
<div class="main-container">
    <div class="splash-background">
        <div class="main-logo">
            <img class="logo" src="/css/MBCM_LOGO.png" alt="Logo"/>
            <p class="welcome-text">Welcome to the MBCM volunteer portal.</p>
        </div>
    </div>    
</div>

<div class="info-tile">
</div>

<div class="info-tile">
</div>


<br>
<br>
<br>



@code {
    
}

