@layout LoginLayout
@page "/"
@inject HttpClient httpClient
@using MBCM_PWA.Client.Shared.Models
@inject NavigationManager NavigationManager
@inject userService UserService

<PageTitle>Login</PageTitle>

<body>
    <div class="main-logo">
        <img id="logo" src="/css/MBCM_LOGO.png" alt="Logo" style="width: 300px; height: auto" />
    </div>
    <div class="login-container">
        <div class="login-form">
            <h1 class="text-center" style="color: white; margin-bottom:30px; margin-top:20px;">Login</h1>
            <h5 class="text-center" style="color: white; margin-bottom:20px; margin-top:10px;">Please enter your information:</h5>

            <br />
            <div class="row mb-3">
                @* /* EMAIL */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/email-icon.png" alt="Email Icon" class="mr-2 small-icon"> Email:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="text" class="form-control form-control-sm" @bind="loginModel.Email" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                @* /* PASSWORD */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/password-ico.png" alt="Password Icon" class="mr-2 small-icon"> Password:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="password" class="form-control form-control-sm" @bind="loginModel.Password" />
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            }

            <br />

            <div class="text-center">
                <button style="width: 100px; background-color:orange; color:black; font-weight:600" @onclick="Login" class="btn btn-dark">Login</button>
                <br />
                <br />
                <p style="color: white;">Don't have an account? <a href="/registerpage">Register here</a>.</p>
            </div>

            <div class="text-center">
                <button style="width: 180px; background-color: orange; color: black; font-weight: 600; margin-top: 10px; margin-bottom: 10px;" @onclick="ContinueAsGuest" class="btn btn-dark">Continue as Guest</button>
            </div>
        </div>
    </div>
</body>

@code {
    private UserLogin loginModel = new UserLogin();
    private string errorMessage;

    private async Task Login()
    {
        try
        {
            // Call your API endpoint here
            var response = await httpClient.PostAsJsonAsync("api/Projects/login", loginModel);

            if (response.IsSuccessStatusCode)
            {

                // Deserialize the response to get UserId and UserType
                var loginResult = await response.Content.ReadFromJsonAsync<LoginResult>();

                // Store UserId and UserType in UserService
                UserService.SetUserId(loginResult.UserId);
                UserService.SetUserType(loginResult.UserType);

                NavigationManager.NavigateTo($"/volunteer");
            }
            else
            {
                errorMessage = "Login failed. Please check your credentials and try again.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An unexpected error occurred. Please try again later.";
        }
    }

    private void ContinueAsGuest()
    {
        UserService.SetUserType("Guest");
        NavigationManager.NavigateTo($"/volunteer");
    }
    
    public class LoginResult
    {
        public string Message { get; set; }
        public int UserId { get; set; }
        public string UserType { get; set; }
    }
}