body {
    background-image: url(../css/LINKING_ARMS_BLURRED.png);
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0; 
}

.main-logo {
    padding: 20px;
    position: relative;
    text-align: center;
    margin-top: 70px;
}

.small-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.login-form {
    align-self: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: #333F50;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 650px;
    max-width: 90%;
}

    .login-form label {
        font-weight: bold;
        font-size: 14px;
        color: white;
    }
