@page "/projects"


@using System.Net.Http.Json
@using MBCM_PWA.Client.Shared.Models
@using Microsoft.AspNetCore.Components.Web.Extensions
@inject HttpClient HttpClient

<PageTitle>Projects</PageTitle>

<h1>Active projects</h1>

@* /* PROJECT TILE TEMPLATE STYLING */ *@
@foreach (var project in projects)
{
    <div class="project-tile">
        <div class="proj-left">
            <h3 class="title-div">@project.prjTitle</h3>
        </div>
        <div class="proj-right">
            <div class="event-div">
                <h3 id="ev" style="word-wrap: inherit">Event Date</h3>
            </div>
            <div class="date-div">
                <h4 id="ev">@project.prjStartDate.ToShortDateString()</h4>
            </div>
            <div class="wrapper location">
                <img class="pin" src="/css/pin.png" alt="location" style="width:20px; height:20px" />
                <h4 class="location-text">@project.prjLocation</h4>
            </div>
            <div class="participants">
                <img class="members" src="/css/group.png" style="width:20px; height:20px" />
                <h4 class="members-text">Number of Participants</h4>
            </div>
        </div>
    </div>
}

@code {
    List<Project> projects;

    // This method will be executed when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        projects = await HttpClient.GetFromJsonAsync<List<Project>>("api/projects");
        var responseContent = await HttpClient.GetStringAsync("api/Projects");
        Console.WriteLine(responseContent);
    }
}


<style>
    .main-container {
        position: relative;
        height: 80vh;
        overflow: auto;
    }

    .splash-background {
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
        margin-top: 100px;
    }

    .info-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        padding: 20px;
        width: 70%;
        height: 300px;
        margin: auto;
        margin-top: 100px;
        align-self: center;
    }



    /* PROJECT TILE TEMPLATE STYLING */
    .project-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        width: 50%;
        padding: 5px;
        height: 300px;
        margin: auto;
        margin-top: 100px;
        align-self: center;
        display: flex;
    }

    .proj-left {
        width: 40%;
        height: auto;
        background-color: #ffffff;
        float: left;
        border-bottom-left-radius: 14px;
        border-top-left-radius: 14px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        text-align: center;
        padding-top: 40px;
    }

    .title-div {
        width: 50%;
        margin: auto;
    }

    .proj-right {
        position: relative;
        height: auto;
        width: 60%;
        background-color: #333F50;
        float: right;
        padding: 40px;
        padding-left: 50px;
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        display: inline-block;
    }

    .event-div {
        position: relative;
        color: #ffffff;
    }

    .date-div {
        position: relative;
        color: #ffffff
    }

    .location {
        margin-top: 20px;
        position: relative;
        width: fit-content;
        display: flex;
        align-content: flex-start;
    }

    .pin {
        margin-top: 4px;
        margin-right: 20px;
        left: 0;
    }

    .location-text {
        right: 0;
        color: #ffffff
    }

    .participants {
        margin-top: 20px;
        position: relative;
        width: fit-content;
        display: flex;
        align-content: flex-start;
    }

    .members {
        margin-top: 4px;
        margin-right: 20px;
        left: 0;
    }

    .location-text {
        right: 0;
        color: #ffffff
    }

</style>
