
page {
    min-width: 400px;
}
@media only screen and (min-width: 768px) {

    .project-tile {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        width: 60%;
        padding: 5px;
        height: auto;
        margin: auto;
        margin-top: 100px;
        align-self: center;
        display: flex;
        position: relative;
        font-size: 16px;
    }

    .proj-left {
        width: 40%;
        height: auto;
        background-color: #ffffff;
        float: left;
        border-bottom-left-radius: 14px;
        border-top-left-radius: 14px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        text-align: center;
        padding-top: 40px;
        position: relative;
        font-size: 16px;
    }

    .title-div {
        width: 50%;
        margin: auto;
    }

        .title-div p {
            font-size: clamp(14px, 4vw, 24px);
        }

    .proj-right {
        position: relative;
        height: auto;
        width: 60%;
        background-color: #333F50;
        float: right;
        padding: 40px;
        padding-left: 50px;
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
        display: inline-block;
        font-size: 16px;
    }
}

    .info-div {
        position: relative;
        color: #ffffff;
        display: flex;
        margin: 3%;
    }


.info-img {
    margin-right: 5%;
    margin-top: 0.5%;
    position: relative;
    width: fit-content;
    display: flex;
    align-content: flex-start;
    width: 20px;
    height: 20px
}

    .info-text {
        position: relative;
        right: 0;
        font-size: 20px;
        color: #ffffff
    }

    .proj-btns {
        margin-top: 10%;
        margin: auto;
        position: relative;
        width: fit-content;
        display: flex;
        align-content: flex-start
    }


    @media only screen and (max-width: 768px) {
        .info-text {
            font-size: 15px;
            color: #ffffff;
            font-weight: 100;
        }
        .info-img {
            margin-right: 15%;
            margin-top: 0.5%;
            position: relative;
            width: fit-content;
            display: flex;
            align-content: flex-start;
            width: 15px;
            height: 15px
        }

        .info-div {
            margin: 0;
            left: 0;
        }

        .project-tile {
            border: 1px solid #e0e0e0;
            border-radius: 20px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
            width: 80%;
            padding: 5px;
            height: auto;
            margin: auto;
            margin-top: 100px;
            align-self: center;
            font-size: 16px;
        }

        .proj-left {
            width: 100%;
            height: auto;
            background-color: #ffffff;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
            text-align: center;
            padding: 3%;
        }

        .title-div {
            width: 50%;
            margin: auto;
        }

        .proj-right {
            position: relative;
            height: auto;
            width: 100%;
            background-color: #333F50;
            padding: 40px;
            padding-left: 50px;
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.05);
            display: inline-block;
        }

        .proj-btns{
            margin-top: 8%;
        }
    }
