@page "/loginpage"

<PageTitle>Login</PageTitle>

<body>
    <div class="main-logo">
        <img id="logo" src="/css/MBCM_LOGO.png" alt="Logo" style="width:250px; height:auto" />
    </div>
    <div class="login-container">
        <div class="login-form">
            <h1 class="text-center" style="color: white">Please enter your information</h1>

            <div class="row mb-3">
                @* /* EMAIL */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/email-icon.png" alt="Email Icon" class="mr-2 small-icon"> Email:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="text" class="form-control form-control-sm" name="userEmail" id="userEmail" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row mb-3">
                @* /* FIRST NAME */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/firstname-icon.png" alt="Password Icon" class="mr-2 small-icon"> First Name:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="text" class="form-control form-control-sm" name="userName" id="userName" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row mb-3">
                @* /* LAST NAME */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/lastname-icon.png" alt="Email Icon" class="mr-2 small-icon"> Last Name:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="text" class="form-control form-control-sm" name="userSurname" id="userSurname" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row mb-3">
                @* /* Biography/ Description */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/bio-icon.png" alt="Password Icon" class="mr-2 small-icon"> Bio/Description:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <textarea id="userBio" name="userBio" rows="5" cols="43">...</textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="row mb-3">
                @* /* PHONE NUMBER */ *@
                <label class="col-sm-3 col-form-label">
                    <img src="/css/email-icon.png" alt="Email Icon" class="mr-2 small-icon"> Phone Number:
                </label>
                <div class="col-sm-6">
                    <div class="shadow-sm">
                        <input type="text" class="form-control form-control-sm" name="userPhoneNum" id="userPhoneNum" />
                    </div>
                </div>
            </div>


            <div class="text-center">
                <button style="width: 100px" type="submit" class="btn btn-dark">Login</button>
            </div>
            <br />
        </div>
    </div>
</body>
@code {

}

<style>
    .main-logo {
        padding: 20px;
        position: relative;
        text-align: center;
    }

    .small-icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    body {
        background-image: url("/css/LINKING_ARMS_BLURRED.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .login-form {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        background-image: linear-gradient(to top, #333F50, #495A6D);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        width: 800px;
        max-width: 90%;
    }

        .login-form label {
            font-weight: bold;
            font-size: 14px;
            color: white;
        }
</style>