
.main-logo {
    padding: 20px;
    position: relative;
    text-align: center;
}

.small-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to top, #333F50, #495A6D);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 800px;
    max-width: 90%;
}

    .login-form label {
        font-weight: bold;
        font-size: 14px;
        color: white;
    }

/* Style for small error messages */
.small-error {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    margin-top: -0.5rem; /* Adjust the position if needed */
}
