@layout WelcomeLayout
@page "/"

<PageTitle>Welcome</PageTitle>
<div class="text-center">
    <h1>Which one are you?</h1>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Guest</h5>
                    <p class="card-text">Click below if you are a guest.</p>
                    <a href="/guest" class="btn btn-primary">Choose Guest</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Volunteer</h5>
                    <p class="card-text">Click below if you are a volunteer.</p>
                    <a href="/loginpage" class="btn btn-primary">Choose Volunteer</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">Click below if you are an admin.</p>
                    <a href="/loginpage" class="btn btn-primary">Choose Admin</a>
                </div>
            </div>
        </div>
    </div>
</div>
