@* @layout WelcomeLayout
@page "/loginpage"
@using MBCM_PWA.Client.Shared.Models
@inject userService UserService

<PageTitle>Welcome</PageTitle>
<div class="text-center">

    <div class="row mt-4 justify-content-center">
        <div class="col-md-4">
            <div class="card welcome-card">
                <div class="card-body">
                    <h5 class="card-title">Guest</h5>
                    <p class="card-text">Click below to proceed as a guest.</p>
                    <a href="/guest" class="btn btn-welcome" onclick="@setGuest()">Choose Guest</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card welcome-card">
                <div class="card-body">
                    <h5 class="card-title">Volunteer</h5>
                    <p class="card-text">Click below if you are a volunteer.</p>
                    <a href="/loginpage" class="btn btn-welcome">Choose Volunteer</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card welcome-card">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">Click below if you are an Admin.</p>
                    <a href="/loginpage" class="btn btn-welcome">Admin Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private async Task setGuest()
    {
        UserService.SetUserType("Guest");
    }
}

 *@