@using MBCM_PWA.Client.Shared.Models;
@using Microsoft.AspNetCore.Components.Authorization;
@inject userService UserService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @if (UserService.UserType == "Admin")
        {
            <a class="navbar-brand" href="">Administrator</a>
        }
        else if (UserService.UserType == "Volunteer")
        {
            <a class="navbar-brand" href="">Volunteer</a>
        }
        else if (UserService.UserType == "Guest")
        {
            <a class="navbar-brand" href="">Guest</a>

        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @if (UserService.UserType != "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/volunteer" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
        }
        @if (UserService.UserType == "Volunteer" || UserService.UserType == "Guest")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="projects">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Projects Feed
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="suggestions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Community Feed
            </NavLink>
        </div>
        @if (UserService.UserType == "Admin" || UserService.UserType == "Volunteer")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="calendar">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
                </NavLink>
            </div>
        }
        @if (UserService.UserType == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adminprojects">
                    <span class="oi oi-copywriting" aria-hidden="true"></span> Admin Dashboard
                </NavLink>
            </div>
        }
        @if (UserService.UserType == "Admin" || UserService.UserType == "Volunteer")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="accountdashboard">
                    <span class="oi oi-person" aria-hidden="true"></span> Account
                </NavLink>
            </div>
        }
        @if (UserService.UserType != "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/faq">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> FAQ
                </NavLink>
            </div>
        }
        @if (UserService.UserType == "Admin" || UserService.UserType == "Volunteer")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/loginpage">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        UserService.ClearAuthentication();
        NavigationManager.NavigateTo("/");
    }
}
